* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  background: #fff;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}
h3{
    text-align: center;
  margin-top: 20px;
}

#container{
    max-width: 500px;
    margin: auto;
}
.line{
    border-bottom: 1px solid black;
    width: 100px;
    margin: 20px auto;
}
.book_list_main {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 0;
  margin-top: 10px;
}

.book_list_sub {
  /* margin-bottom: 10px; */
  padding: 7px;
}

.btn_remove {
  float: right;
  padding: 3px;
  margin-top: -2px;
  border: 2px solid black
}

.book-title,
.book-author,
.btn-remove {
  display: inline;
}

.book_list_main > div:nth-of-type(odd) {
  background-color: #e9e9f9;
}
form{
margin: auto;
max-width: 200px;
}

input[type=text] {
    width: 100%;
}

.save{
    float: right;
    margin-top: 5px;
}
