.main{
    margin:50px;
}
.book_list_main{
    margin-bottom: 10px;
}

.book_list_sub {
    margin-bottom: 10px;
    border-bottom:  1px solid black;
    width: 400px;
}
.btn_remove {
    margin-bottom: 10px;
}