* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  background: #fff;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.main {
  margin: 50px;
}

.book_list_main {
  margin-bottom: 10px;
}

.book_list_sub {
  margin-bottom: 10px;
  position: relative;
}

.btn_remove {
  margin-bottom: 10px;
  margin-left: 100px;
  padding: 5px;
  position: absolute;
  left: 500px;
}

.book-title,
.book-author,
.btn-remove {
  display: inline;
}

.book_list_main > div:nth-of-type(odd) {
  background-color: #e9e9f9;
  padding: 10px;
}
